# Dependencies
node_modules
.pnpm-store

# Production build
dist
build

# Environment variables (Keep API Keys private!)
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# OS / Editor files
.DS_Store
.vscode
.idea
